In [1]:
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pandas as pd
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [5]:
label_encoder_geo=OneHotEncoder()
geo_encoder=label_encoder_geo.fit_transform(data[['Geography']]).toarray()

In [6]:
geo_encoder_df=pd.DataFrame(geo_encoder,columns=label_encoder_geo.get_feature_names_out(['Geography']))
data=pd.concat([data.drop('Geography',axis=1),geo_encoder_df],axis=1)

In [7]:
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
scaler=StandardScaler()

In [11]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('label_encoder_geo.pkl','wb') as file:
    pickle.dump(label_encoder_geo,file)
    
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Development\Project3\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [15]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)#by default linear activation function
])

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

WARNING:tensorflow:From c:\Development\Project3\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [17]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 64)                832

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir, histogram_freq=1)

In [20]:
early_stopping_callback=EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [21]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Development\Project3\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Development\Project3\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 3ms/step - loss: 100370.0391 - mae: 100370.0391 - val_loss: 98490.0156 - val_mae: 98490.0156
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99522.2266 - mae: 99522.2266 - val_loss: 96768.4531 - val_mae: 96768.4531
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 96519.7266 - mae: 96519.7266 - val_loss: 92370.3828 - val_mae: 92370.3828
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 90677.6250 - mae: 90677.6250 - val_loss: 85158.7656 - val_mae: 85158.7656
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 82302.2422 - mae: 82302.2422 - val_loss: 76068.4375 - val_mae: 76068.4375
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 72718.7422 - mae: 72718.7422 - val_loss: 67038.9922 - val_mae: 67038.9922
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 63828.8945 - mae: 63828.8945 - val_loss: 59569.0977 - val_mae: 59569.0977
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 57148.3789 - mae: 57148.3789 - val_loss: 54718.1797 - val_mae: 54718.1797
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 53242.8477 - mae: 53242.8477 - val_loss: 52217.4141 - val_mae: 52217.4141
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 51358.8281 - mae: 51358.8281 - val_loss: 51306.3906 - val_mae: 51306.3906
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50599.0391 - mae: 50599.0391 - val_loss: 51006.9297 - val_mae: 51006.9297
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50314.4648 - mae: 50314.4648 - val_loss: 50889.8438 - val_mae: 50889.8438
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50196.5352 - mae: 50196.5352 - val_loss: 50823.0273 - val_mae: 50823.0273
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50121.6758 - mae: 50121.6758 - val_loss: 50771.9688 - val_mae: 50771.9688
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50066.2539 - mae: 50066.2539 - val_loss: 50729.9062 - val_mae: 50729.9062
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50019.2148 - mae: 50019.2148 - val_loss: 50679.4844 - val_mae: 50679.4844
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 49978.5352 - mae: 49978.5352 - val_loss: 50640.7148 - val_mae: 50640.7148
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 49939.2891 - mae: 49939.2891 - val_loss: 50607.7227 - val_mae: 50607.7227
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 49898.6875 - mae: 49898.6875 - val_loss: 50588.8008 - val_mae: 50588.8008
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 49866.6445 - mae: 49866.6445 - val_loss: 50547.7461 - val_mae: 50547.7461
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49840.8867 - mae: 49840.8867 - val_loss: 50527.2656 - val_mae: 50527.2656
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49811.4648 - mae: 49811.4648 - val_loss: 50503.3359 - val_mae: 50503.3359
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49786.0977 - mae: 49786.0977 - val_loss: 50484.8867 - val_mae: 50484.8867
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49765.0898 - mae: 49765.0898 - val_loss: 50457.2109 - val_mae: 50457.2109
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 49742.8633 - mae: 49742.8633 - val_loss: 50440.1289 - val_mae: 50440.1289
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49723.9961 - mae: 49723.9961 - val_loss: 50424.8008 - val_mae: 50424.8008
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49701.1445 - mae: 49701.1445 - val_loss: 50420.3828 - val_mae: 50420.3828
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49682.5273 - mae: 49682.5273 - val_loss: 50406.4961 - val_mae: 50406.4961
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49669.5664 - mae: 49669.5664 - val_loss: 50410.4414 - val_mae: 50410.4414
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49653.4062 - mae: 49653.4062 - val_loss: 50396.3828 - val_mae: 50396.3828
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49638.1914 - mae: 49638.1914 - val_loss: 50383.3125 - val_mae: 50383.3125
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49624.4805 - mae: 49624.4805 - val_loss: 50377.3828 - val_mae: 50377.3828
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49615.6484 - mae: 49615.6484 - val_loss: 50372.8984 - val_mae: 50372.8984
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49598.7734 - mae: 49598.7734 - val_loss: 50359.1133 - val_mae: 50359.1133
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49591.3672 - mae: 49591.3672 - val_loss: 50367.7656 - val_mae: 50367.7656
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49578.4688 - mae: 49578.4688 - val_loss: 50364.9414 - val_mae: 50364.9414
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49568.9531 - mae: 49568.9531 - val_loss: 50376.8984 - val_mae: 50376.8984
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49557.1914 - mae: 49557.1914 - val_loss: 50384.0312 - val_mae: 50384.0312
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49550.8359 - mae: 49550.8359 - val_loss: 50379.8672 - val_mae: 50379.8672
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49539.8906 - mae: 49539.8906 - val_loss: 50379.6367 - val_mae: 50379.6367
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49529.4492 - mae: 49529.4492 - val_loss: 50365.6875 - val_mae: 50365.6875
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49522.6758 - mae: 49522.6758 - val_loss: 50364.1875 - val_mae: 50364.1875
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49516.6719 - mae: 49516.6719 - val_loss: 50366.7969 - val_mae: 50366.7969
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49507.8984 - mae: 49507.8984 - val_loss: 50363.9766 - val_mae: 50363.9766

In [22]:
%load_ext tensorboard

In [24]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 16132), started 0:03:50 ago. (Use '!kill 16132' to kill it.)

In [25]:
## Evaluating the model 
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'test MAE :{test_mae}')

63/63 [==============================] - 0s 905us/step - loss: 50359.1133 - mae: 50359.1133
test MAE :50359.11328125

In [26]:
model.save('regression_model.h5')

c:\Development\Project3\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(